<%= params%>
<form method="get" action="/post/create" id="create_posts">
<input name="titulo" placeholder="titulo" type="text">
<input name="imagen" placeholder="imagen" type="text">
<textarea name="contenido" type="text"> </textarea>
<input type="submit" value="Enviar">

</form>