<%= params%>
<form method="get" action="/post/create" id="create_posts">
<input name="titulo" placeholder="titulo">
<input name="imagen" placeholder="imagen">
<input name="contenido" placeholder="contenido">
<input type="submit" value="Enviar">

</form>